table{
	border:2px solid black;
	border-collapse: collapse;
	margin-left: 100px;
}
td,th{
	border:2px solid black;
}

.red{
	background-color: red;
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

caption{
font-weight: bold;
}